---
import { Icon } from "astro-icon/components";
import { SOURCE_REPO_URL } from "../consts";

interface Props {
	showSocialIcons?: boolean;
}

const { showSocialIcons = false } = Astro.props;
---

<footer
	class="flex flex-col gap-6 lg:flex-row lg:justify-center lg:items-center w-full mt-16 text-sm"
>
	<div class="flex flex-col gap-2 items-center">
		<ul class="flex flex-wrap gap-x-6 gap-y-1 items-center justify-center">
			<li>
				<a
					href="https://creativecommons.org/licenses/by-sa/4.0/"
					rel="license"
					hreflang="en"
				>
					Content: CC BY-SA 4.0
				</a>
			</li>
			<li>
				<a href={`${SOURCE_REPO_URL}/blob/main/LICENSE-CONTENT`}>Full license text</a>
			</li>
			<li>
				<a href={SOURCE_REPO_URL}>Source repository</a>
			</li>
			<li>
				<a href="/contribute">Contribute</a>
			</li>
		</ul>
	</div>
	{
		showSocialIcons && (
			<ul class="print-hide flex flex-row gap-6 items-center text-lg">
				<li>
					<a
						href="https://youtube.com/@TheScatteredPath"
						aria-label="YouTube channel The Scattered Path"
					>
						<Icon name="simple-icons:youtube" />
					</a>
				</li>
				<li>
					<a
						href="https://instagram.com/_graysonarts_"
						aria-label="Instagram account _graysonarts_"
					>
						<Icon name="simple-icons:instagram" />
					</a>
				</li>
				<li>
					<a
						href="https://bsky.app/me.graysonarts.com"
						aria-label="Bluesky account me.graysonarts.com"
					>
						<Icon name="simple-icons:bluesky" />
					</a>
				</li>
				<li>
					<a
						href="https://linkedin.com/GraysonHay"
						aria-label="LinkedIn profile GraysonHay"
					>
						<Icon name="simple-icons:linkedin" />
					</a>
				</li>
				<li>
					<a href="https://github.com/graysonarts" aria-label="GitHub account graysonarts">
						<Icon name="simple-icons:github" />
					</a>
				</li>
			</ul>
		)
	}
</footer>
