---
import type { HTMLAttributes } from "astro/types";
import NavBar from "./NavBar.astro";

export enum Variant {
	main = "main",
	small = "small",
	small_bigger = "smb",
	tiny = "tiny",
}

interface Props extends HTMLAttributes<"header"> {
	variant?: Variant;
}

const { variant: maybeVariant, ...props } = Astro.props;
const variant = maybeVariant ?? Variant.small;

const text_variant = (variant: Variant) => {
	if (variant === Variant.main) {
		return `
‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą                      ‚ĖĎ‚Ėą‚Ėą                                     ‚ĖĎ‚Ėą‚Ėą                     ‚ĖĎ‚Ėą‚Ėą       ‚ĖĎ‚Ėą‚Ėą
    ‚ĖĎ‚Ėą‚Ėą                          ‚ĖĎ‚Ėą‚Ėą                                     ‚ĖĎ‚Ėą‚Ėą                               ‚ĖĎ‚Ėą‚Ėą
    ‚ĖĎ‚Ėą‚Ėą     ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą   ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą  ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą  ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą   ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą   ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą
    ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą‚Ėą     ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą
    ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą        ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą      ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą
    ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą        ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą   ‚ĖĎ‚Ėą‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą      ‚ĖĎ‚Ėą‚Ėą   ‚ĖĎ‚Ėą‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą‚ĖĎ‚Ėą‚Ėą   ‚ĖĎ‚Ėą‚Ėą‚Ėą
    ‚ĖĎ‚Ėą‚Ėą     ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą   ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą  ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą    ‚ĖĎ‚Ėą‚Ėą  ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą   ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą       ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą ‚ĖĎ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚ĖĎ‚Ėą‚Ėą
`;
	}

	if (variant === Variant.small || variant === Variant.small_bigger) {
		return `
‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ  ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ ‚ĖĄ‚ĖĄ ‚ĖĄ‚ĖĄ ‚ĖĄ‚ĖĄ  ‚ĖĄ‚ĖĄ  ‚ĖĄ‚ĖĄ‚ĖĄ  ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ  ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ  ‚ĖĄ‚ĖĄ ‚ĖĄ‚ĖĄ ‚ĖĄ‚ĖĄ ‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ
  ‚Ėą‚Ėą   ‚Ėą‚Ėą‚ĖĄ‚ĖĄ  ‚Ėą‚Ėą‚ĖÄ‚ĖÄ‚ĖÄ ‚Ėą‚Ėą‚ĖĄ‚Ėą‚Ėą ‚Ėą‚Ėą‚Ėą‚ĖĄ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖÄ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖÄ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖĄ‚Ėą‚ĖĄ ‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖÄ‚Ėą‚Ėą
  ‚Ėą‚Ėą   ‚Ėą‚Ėą‚ĖĄ‚ĖĄ‚ĖĄ ‚ĖÄ‚Ėą‚Ėą‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą ‚ĖÄ‚Ėą‚Ėą ‚ĖÄ‚Ėą‚Ėą‚Ėą‚ĖÄ ‚Ėą‚Ėą‚Ėą‚Ėą‚ĖÄ ‚Ėą‚Ėą ‚Ėą‚Ėą ‚ĖÄ‚Ėą‚Ėą‚Ėą‚ĖÄ ‚Ėą‚Ėą ‚Ėą‚Ėą‚Ėą‚Ėą‚ĖÄ
`;
	}

	if (variant === Variant.tiny) {
		return `
‚ĖĄ‚ĖĖ    ‚ĖĆ      ‚ĖĆ    ‚Ėė ‚ĖĆ
‚Ėź ‚Ėą‚ĖĆ‚Ėõ‚Ėė‚Ėõ‚ĖĆ‚Ėõ‚ĖĆ‚Ėõ‚ĖĆ‚Ėõ‚ĖĆ‚Ėõ‚Ėė‚ĖĆ‚ĖĆ‚ĖĆ‚Ėõ‚ĖĆ
‚Ėź ‚Ėô‚ĖĖ‚Ėô‚ĖĖ‚ĖĆ‚ĖĆ‚ĖĆ‚ĖĆ‚Ėô‚ĖĆ‚Ėô‚ĖĆ‚ĖĆ ‚Ėô‚ĖĆ‚ĖĆ‚Ėô‚ĖĆ
`;
	}
};
---

<header class:list={["m-auto pb-4", props.class]} {...props}>
	<nav class="">
		<h2 class:list={["mt-0 mb-4 flex flex-col justify-center md:justify-start"]}>
			<a href="/" class:list={["flex justify-center md:justify-start no-underline"]}
				><pre
					class:list={[
						"w-fit hidden md:inline-block",
						{
							"text-xs lg:text-sm": variant === "main",
							"text-xs lg:text-xl": variant === "small",
							"text-xs lg:text-2xl": variant === "smb",
						},
					]}>{text_variant(variant)}</pre>
				<pre
					class:list={[
						"w-fit inline-block md:hidden",
						{
							"text-xs lg:text-sm": variant === "main",
							"text-xs lg:text-lg": variant === "small",
							"text-xs lg:text-2xl": variant === "smb",
						},
					]}>{text_variant(Variant.tiny)}</pre></a
			>
		</h2>
	</nav>
	<NavBar />
	<div class="social-links"></div>
</header>
