---
import { Image } from "astro:assets";

interface Props {
	heroImage: any;
}

const { heroImage } = Astro.props;
---

<div class="scanlines-container w-full">
	<Image src={heroImage} layout="full-width" alt="" />
</div>
