---
import { getCollection } from "astro:content";
import HeaderLink from "./HeaderLink.astro";

const posts = await getCollection("blog");
const sections = new Set(posts.map((post: any) => post.data.section));
const headings = ["news", "technology", "druidism", "health"];
---

<div
	class:list={[
		"internal-links w-full grid grid-cols-2 lg:flex flex-wrap lg:justify-center text-lg lg:text-base gap-x-16 px-6",
	]}
>
	<HeaderLink href="/blog/">POSTS</HeaderLink>
	{
		headings.map((heading) => (
			<Fragment>
				{sections.has(heading) && (
					<HeaderLink href={`/blog/sections/${heading}`}>{heading.toUpperCase()}</HeaderLink>
				)}
			</Fragment>
		))
	}
	<HeaderLink href="/about">ABOUT</HeaderLink>
</div>
